/* 난다 css */
/* 웹 폰트 CDN(Content Delevery Network) */
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Tenada";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* 뷰대상박스 */
#vue-app {
  max-width: 1920px;
  width: 98%;
  padding: 20px;
  border: 1px dashed darkblue;
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  font-family: "Pretendard";
}
/* 제목 */
.tit {
  font-family: "Tenada";
  color: cornflowerblue;
  font-size: 40px;
}
/* 내용박스 */
#vue-app p {
  border: 4px double gray;
  background-image: linear-gradient(-45deg, #27dbfa, #bc22f5, #67004a);
  color: lightgreen;
  padding: 50px;
}
/* 내용박스 이미지 */
#vue-app p img {
  max-width: 800px;
  width: 90%;
  border-radius: 20px;
}

/* 상품리스트박스 */
.gwrap {
  display: flex;
  /* 하위 ol박스를 옆으로 흐르게함 */
  justify-content: center;
  flex-wrap: wrap;

  gap: 10px 20px; /* 상하 좌우 사이간격 */
}
/* 개별리스트박스 */
.glist {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 20%;
}
.glist li {
  position: relative;
}
/* 이미지 li배경색 */
.glist li:first-child{
  background-color: #ececec;
}
/* 상품이미지 */
.glist img {
  width: 100%;
  transition: opacity .3s;
  cursor: pointer;
}
/* 오버시 이미지 세팅 */
.glist img:last-child{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
}
.glist li:hover img:first-child{
  opacity: 0;
}
.glist li:hover img:last-child{
  opacity: 1;
}
@media screen and (max-width: 1024px) {
  .glist {
    width: 30%;
  }
}
@media screen and (max-width: 800px) {
  .glist {
    width: 48%;
  }
}
@media screen and (max-width: 600px) {
  .glist {
    width: 98%;
  }
}
