/* banner-box */
/* .swiper {  */
swiper-container { 
    width: 100vw;
    height: 100%;
}
/* 스와이퍼 슬라이드 */
swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 이미지 찌그러짐 */
    /* width: auto; */ 
}
/* 스와이퍼 이미지 */
swiper-slide img {
    display: block;
    height: 100%;
    object-fit: cover;
}
